<h2>View your created courses below or create a new one.</h2>
<label>NEW COURSE: </label><a href="/courses/create"><img src="/images/plus-icon.png" width="25px" height="25px"></a>
<div id="course-functions">
    <ul id="course-settings">
    <% @student.courses.all.each do |students_course| %>
        <li>
            <a href="/courses/<%= students_course.id %>/<%= students_course.slug%>"><%= students_course.title %></a>
            <a href="/courses/<%= students_course.id %>/<%= students_course.slug %>/edit"><img src="/images/edit-icon.png" width="25px" height="25px"></a>
            <form id="delete-form" action="/courses/<%= students_course.id %>/<%= students_course.slug %>" method="POST"> 
                <input type="hidden" id="hidden" name="_method" value="DELETE">
                <input id="delete-button" style="color: red" type="submit" value="Delete Course">
            </form>
        </li>
    <% end %>
    </ul>
</div>

