<h2><%= @student.username %>, Update your course using the form below.</h2>
<form action="/courses/<%= @course.slug %>" method="POST">
    <input type="hidden" value="patch" name="_method">
    <label for="title">Course Title: </label><input id="title" name="title" type="text" value="<%= @course.title %>"/><br><br>
    <label for="cirriculum">Course Cirriculum: </label><textarea id="cirriculum" name="cirriculum" type="text"><%= @course.cirriculum %></textarea><br><br>
    <label for="title">Course Difficulty: </label><input id="difficulty" name="difficulty" type="text" value="<%= @course.difficulty %>"/><br><br>
    <label for="language"> </label><input id="language" name="language" type="text" value="<%= @course.language %>"/><br><br>
    <input type="submit" value="Update Course">
</form>