<h2><%= @student.username %>, Update your course using the form below.</h2>
<form action="/courses/<%= @course.id %>/<%= @course.slug %>" method="POST">
    <input type="hidden" value="patch" name="_method">
    <label for="title">Course Title: </label><input id="title" name="title" type="text" value="<%= @course.title %>"/><br><br>
    <label for="cirriculum">Course Cirriculum: </label><textarea id="cirriculum" name="cirriculum" type="text"><%= @course.cirriculum %></textarea><br><br>
 
    <div class="attribute-div" id="course-difficulty">
        <label for="title"><u>Course Difficulty</u></label><br><br>
        <label for="easy">Easy </label><input id="easy" name="difficulty" type="radio" value="Easy"/><br><br>
        <label for="medium">Medium </label><input id="medium" name="difficulty" type="radio" value="Medium"/><br><br>
        <label for="hard">Hard </label><input id="hard" name="difficulty" type="radio" value="Hard"/><br><br>
    </div>

    <div class="attribute-div" id="course-language">
        <label for="title"><u>Select a language</u></label><br><br>
        <label for="HTML / CSS">HTML / CSS </label><input id="HTML / CSS" name="language" type="radio" value="HTML / CSS"/><br><br>
        <label for="JavaScript">JavaScript </label><input id="JavaScript" name="language" type="radio" value="JavaScript"/><br><br>
        <label for="Ruby">Ruby </label><input id="Ruby" name="language" type="radio" value="Ruby"/><br><br>
    </div>

    <input type="submit" value="Update Course">
</form> 