<p>
    <h1 id="course-title-h1">
        <%= @course.title%>
    </h1>
    <ul>
        <li><span id="difficulty-span">Difficulty Level: <%= @course.difficulty%></span></li>
        <li><p id="language-para">Languages: <%= @course.language%></p></li>
    </ul>
</p>

<div>
    <div id="course-curriculum">
        <p><h2><label>What's the course about? </label></h2><p id="curriculum-para"><%= @course.cirriculum%></p></p>
    </div>
    <% @student = Student.find_by_id(@course.student_id)%>
    <p id="creator-para">Course creator: <%= @student.firstname %> <%= @student.lastname %></p>
</div>