<h1><p><%= @course.title%></p></h1>
<div>
    <p><%= @course.cirriculum%></p>
    <p>Difficulty Level: <%= @course.difficulty%></p>
    <p>Languages: <%= @course.language%></p>
    <p>Course Cirriculum: <%= @course.cirriculum%></p>
    <% @student = Student.find_by_id(@course.student_id)%>
    <p>Course creator: <%= @student.firstname %> <%= @student.lastname %></p>
</div>